<section class="d-flex flex-column" id="section1">
  <div id="top-small-header" class="text-light">
    <div class="container p-1">
      <div class="d-flex justify-content-between">
        <div>
          <small><i class="fas fa-phone fa-xs"></i>&nbsp;+256 706 771 700</small>
          &nbsp;
          &nbsp;
          <small><i class="fa fa-envelope fa-xs"></i>&nbsp; <a href="mailto:info@lendrz.com">info@lendrz.com</a></small>
        </div>
        <div>
          <i class="fas fa-language fa-xs"></i>
          &nbsp;
          <small>Luganda</small>
          &nbsp;
          <small>|</small>
          &nbsp;
          <small>English</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg shadow-0">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="/">
        <img src="assets/img/logo.png" height="16" alt="Logo" loading="lazy" style="margin-top: -1px;" />
      </a>

      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <!-- <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Invest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Borrow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account</a>
        </li>
      </ul> -->
        <!-- Left links -->

        <div class="ms-auto d-flex align-items-center">
          <button type="button" class="btn btn-link ">
            <i class="fas fa-hand-holding-usd fa-lg"></i>&nbsp; Invest
          </button>
          <button type="button" class="btn btn-link">
            <i class="fas fa-hand-holding fa-lg"></i>&nbsp; Borrow
          </button>

          <div mdbDropdown class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false"
              mdbDropdownToggle>
              <i class="fas fa-user-circle fa-lg"></i> &nbsp; My Account
            </button>
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#"><i class="fas fa-cog pe-3"></i> Settings</a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out pe-3"></i> Logout</a></li>
            </ul>
          </div>


        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->


  <div class="mt-5 container text-light flex-fill d-flex flex-column align-items-between justify-content-center">
    <div class="row">
      <div class="col-md">
        <strong>
          <h1>Let's Pay Your Taxes <span class="text-primary strong">!</span></h1>
        </strong>
        <p class="text-lead">Enter your tax PRN for URA Tax Loan Payback<br /> later in flexible installements</p>
        <form class="row row-cols-lg-auto g-3 align-items-center">
          <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">Enter your RPN here</label>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
              placeholder="Enter your RPN here" />
          </div>

          <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

        <ul class="mt-5" id="section1-list">
          <li>low interest rate at 10%</li>
          <li>taxes paid same day you apply</li>
          <li>borrow from the comfort of your home</li>
          <li>Flexible re-payment plan</li>
        </ul>


      </div>
      <div class="col-md d-none d-lg-block d-xl-block d-xxl-block ">
        <h1>Investment Deals</h1>
        <table class="table table-bordered text-center">
          <thead class="text-primary">
            <tr>
              <th>Lend (UGX)</th>
              <th>Profit (UGX)</th>
              <th>Months</th>
            </tr>
          </thead>

          <tbody class="text-light">
            <tr>
              <td>905,000,000</td>
              <td>67,000,100</td>
              <td>6</td>
            </tr>

            <tr>
              <td>905,000,000</td>
              <td>67,000,100</td>
              <td>12</td>
            </tr>

            <tr>
              <td>905,000,000</td>
              <td>67,000,100</td>
              <td>12</td>
            </tr>

            <tr>
              <td>905,000,000</td>
              <td>67,000,100</td>
              <td>12</td>
            </tr>

            <tr>
              <td>905,000,000</td>
              <td>67,000,100</td>
              <td>12</td>
            </tr>

            <tr>
              <td>905,000,000</td>
              <td>67,000,100</td>
              <td>12</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</section>

<!-- show only on md downward -->
<section class="bg-dark pt-5 pb-5 d-block d-xxl-none d-xl-none d-lg-none">
  <div class="container">
    <h1 class="text-primary">Investment Deals</h1>
    <table class="table table-bordered text-center mt-4">
      <thead class="text-primary">
        <tr>
          <th>Lend (UGX)</th>
          <th>Profit (UGX)</th>
          <th>Months</th>
        </tr>
      </thead>

      <tbody class="text-light">
        <tr>
          <td>905,000,000</td>
          <td>67,000,100</td>
          <td>6</td>
        </tr>

        <tr>
          <td>905,000,000</td>
          <td>67,000,100</td>
          <td>12</td>
        </tr>

        <tr>
          <td>905,000,000</td>
          <td>67,000,100</td>
          <td>12</td>
        </tr>

        <tr>
          <td>905,000,000</td>
          <td>67,000,100</td>
          <td>12</td>
        </tr>

        <tr>
          <td>905,000,000</td>
          <td>67,000,100</td>
          <td>12</td>
        </tr>

        <tr>
          <td>905,000,000</td>
          <td>67,000,100</td>
          <td>12</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>